* {
  box-sizing: border-box;
}

nav {
  ul {
    display: flex;
    flex-direction: row-reverse;
    width: 500px;
    margin: 0 auto;
  }
}

.signup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;
  transform: translateY(100%);
  visibility: hidden;

  &.active {
    transform: translateY(0);
    visibility: visible;
  }

  form {
    background: #fff;
    padding: 20px;
  }
}
